[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
dash = "*"
dash-bootstrap-components = "*"
plotly = "*"
flask = "*"
gunicorn = "*"
google-cloud-bigquery = "*"
google-auth = "*"
db-dtypes = "*"
sparkfun-qwiic = "*"

[requires]
python_version = "3.8"
