[Unit]
Description=Test Sensor Collection Daemon

[Service]
Type=simple
ExecStartPre=/bin/bash -c "sudo chmod a+rw /dev/i2c-*"
ExecStart=/bin/bash -c "/home/ubuntu/miniconda/bin/python /home/ubuntu/radiator/sensor/run_collection.py --sensor TEST"
WorkingDirectory=/home/ubuntu/radiator
User=ubuntu
Group=ubuntu
PIDFile=/run/test-sensor-collection.pid
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
